<div class="row">
    <br />
    <stats number="6" comments="En camino" colour="primary" type="car" goto="dashboard.usersInBank"></stats>
    <stats number="2" comments="Llegando" colour="yellow" type="flag-checkered" goto="dashboard.usersInBank"></stats>
    <stats number="5" comments="Esperando" colour="red" type="clock-o" goto="dashboard.usersInBank"></stats>
    <stats number="24" comments="Atendidos" colour="green" type="support" goto="dashboard.usersInBank"></stats>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="">
                <div class="panel-heading">
                    <h3 class="panel-title">Clientes en Espera</h3>
                </div>
                <div class="panel-body">
                    <div class="dataTables_wrapper">
                        <table datatable="" dt-options="dtOptions" class="no-footer table table-striped table-bordered table-hover row-border hover">
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Nombre</th>
                                    <th>¿Necesidades especiales?</th>
                                    <th>¿Premium?</th>
                                    <th>Trámite</th>
                                    <th>Más</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td><img src="{{user.photoURL}}" id="thumb_$index" class="thumb-element" alt="Lobster Lover" /></td>
                                    <td>{{user.firstName}}</td>
                                    <td ng-if="user.specialAssistance"><div class="alert alert-danger" role="alert"><i class="glyphicon glyphicon-alert"></i> Requiere asistencia</div></td>
                                    <td ng-if="!user.specialAssistance">No</td>
                                    <td>{{user.premium? 'Si': 'No'}}</td>
                                    <td>{{translate(user.action)}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-circle" ng-click="toUserRequirements(user)"><i class="fa fa-search"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>