<div class="row">
    <div class="voucher-container" ng-repeat="deposit in deposits">
        <div class="col-md-9"><img src="../images/logo-banco.png" /></div>
        <div class="col-md-3 text-right">
            <h3>1234-4332</h3></div>
        <div id="user-data" class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="account-number">N&uacute;mero de cuenta</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <input type="text" class="form-control" id="account-number" ng-model="deposit.toAccount" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="account-name">Nombre del Titular</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" id="account-name" ng-model="deposit.toName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Fecha</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                        <input type="text" class="form-control" id="date" value="{{getTodaysDate()}}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="account-number">Depositado por</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" id="account-number" ng-model="deposit.fromName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone-number">N&uacute;mero de tel&eacute;fono</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></div>
                        <input type="text" class="form-control" id="phone-numbr" ng-model="deposit.fromPhone" readonly>
                    </div>
                </div>
            </form>
            <div id="bank-logo-container"></div>
        </div>
        <div class="col-md-3">
            <div class="deposit-type-container">
                <h4>Tipo de deposito</h4>
                <form class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="element_1" value="option_1" ng-model="deposit.cash" disabled> Efectivo
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="element_2" value="option_2" ng-model="deposit.check" disabled> Cheques del Banco
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="element_3" value="option_3" disabled> Cheques otros Bancos
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="element_4" value="option_4" disabled> Vale Vista del Banco
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="element_5" value="option_5" disabled> Vale Vista otros Bancos
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="documents-number">N&uacute;mero de documentos</label>
                        <input type="number" class="form-control" id="documents-number" value="1" readonly>
                    </div>
                </form>
            </div>
        </div>
        <div id="deposit-data" class="col-md-5">
            <h4>Detalle Efectivo / Documentos</h4>
            <div id="deposit-detail">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-4">Denominaci&oacute;n</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="amount in deposit.detail" ng-if="amount.type == 20000">
                            <td class="col-md-4 text-right">20.000</td>
                            <td>${{amount.amount}}</td>
                        </tr>
                        <tr ng-repeat="amount in deposit.detail" ng-if="amount.type == 10000">
                            <td class="col-md-4 text-right">10.000</td>
                            <td>${{amount.amount}}</td>
                        </tr>
                        <tr ng-repeat="amount in deposit.detail" ng-if="amount.type == 5000">
                            <td class="col-md-4 text-right">5.000</td>
                            <td>${{amount.amount}}</td>
                        </tr>
                        <tr ng-repeat="amount in deposit.detail" ng-if="amount.type == 2000">
                            <td class="col-md-4 text-right">2.000</td>
                            <td>${{amount.amount}}</td>
                        </tr>
                        <tr ng-repeat="amount in deposit.detail" ng-if="amount.type == 1000">
                            <td class="col-md-4 text-right">1.000</td>
                            <td>${{amount.amount}}</td>
                        </tr>
                        <tr ng-repeat="amount in deposit.detail" ng-if="amount.type == 'change'">
                            <td class="col-md-4 text-right">Monedas</td>
                            <td>${{amount.amount}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="active">
                            <td class="col-md-4 text-right">
                                <h5>Total:</h5></td>
                            <td>
                                <h5>${{getTotal(deposit.detail)}}</h5></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>