<!--
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Clientes en el Banco</h1>
    </div>
 
</div>
-->

<div class="row">
    <br />
    <stats number="6" comments="En camino" colour="primary" type="car" goto="dashboard.usersInBank"></stats>
    <stats number="2" comments="Llegando" colour="yellow" type="flag-checkered" goto="dashboard.usersInBank"></stats>
    <stats number="5" comments="Esperando" colour="red" type="clock-o" goto="dashboard.usersInBank"></stats>
    <stats number="24" comments="Atendidos" colour="green" type="support" goto="dashboard.usersInBank"></stats>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Clientes en el Banco</h3>
            </div>
            <div class="panel-body">
                <table datatable="" dt-options="dtOptions" class="dataTable_wrapper table table-striped table-bordered table-hover row-border hover">
                    <thead>
                        <tr>                                
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>¿Necesidades especiales?</th>
                            <th>¿Premium?</th>                                
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td><img src="../images/mike_thumb.jpg" id="thumb_$index" class="thumb-element" alt="Lobster Lover" /></td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.specialAssistance ? 'Si' : 'No'}}</td>
                            <td>{{user.premium ? 'Si' : 'No'}}</td>                                
                        </tr>
                    </tbody>
                </table>         
            </div>
        </div>
    </div>
</div>